@model IEnumerable<Forum.Models.Post>

@{
    ViewData["Title"] = "FDU Forum";
}

<table class="table table-striped table-dark table-active text-center">
    <thead>
    <th id="r1">
        Filter Page
    </th>
    </thead>
</table>
<table class="table table-striped table-dark table-active text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                Posted By
            </th>
            <th>
                Posted At
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td id="clr">
                    @Html.DisplayFor(modelItem => item.PostedBy)
                </td>
                <td id="clr">
                    @Html.DisplayFor(modelItem => item.PostedAt)
                </td>

            </tr>
        }
    </tbody>
</table>
